
/* ==========================================================================
1. Global colors
========================================================================== */

$border: var(--border);

/* ==========================================================================
2. Fonts
========================================================================== */

$font: var(--font);
$font-alt: var(--font-alt);
$font-monospace: var(--font-monospace);

/* ==========================================================================
3. Layout
========================================================================== */

$fullhd-enabled: false;
$body-size: var(--font-size);

$radius-small: var(--radius-small);
$radius: var(--radius);
$radius-large: var(--radius-large);
$radius-rounded: var(--radius-rounded);
